{{#with data}}
    <div class="articles_card">
        <img src="{{photo}}" alt="img_art_{{id}}" class="articles_img">
        <strong class="articles_title">{{name}}</strong>
        <p class="articles_info">{{description}}</p>
        <a href="#" class="violet_button">Read all</a>
    </div>
{{/with}}