{{#with data}}
    <div class="nav nav_inline">
        {{#each pages}}
            <a href="{{path}}" class="nav_link">{{name}}</a>
        {{/each}}
    </div>
    <span class="copyright">{{copyright}}</span>
{{/with}}
